@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Kanit:ital,wght@0,100;1,400&family=Lobster&family=Playpen+Sans:wght@300&family=Poppins:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}